body {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
}

.site-content {
  max-width: 150rem;
  margin: 7rem auto 0rem auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #000000;
  text-decoration: none;
  font-size: 0.875rem;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: rgba(255, 65, 65, 0.92);;
  border-bottom: solid 1px rgba(255, 65, 65, 0.92);
  transition: all 0.5s ease-in-out;
}

a.logo {
  color: #000000;
  transition: all 0.5s ease-in-out;
  border-bottom: none;
  margin-right: 3rem;
}

h2.insta-headline  {
  transition: all 0.5s ease-in-out;
}

a.logo:hover,
h2.insta-headline:hover  {
  color: rgba(255, 65, 65, 0.92);
  transition: all 0.5s ease-in-out;
}

.image-links a {
  border-bottom: none;
}

.single-post .main-menu .menu-item a,
.home .main-menu .menu-item a,
.page-template .main-menu .menu-item a,
.archive .main-menu .menu-item a,
.main-menu:hover .menu-item a {
  color: #000000;
  opacity: 1;
  transition: all 0.5s;
  border-bottom: solid 1px transparent;
}

.single-post .main-menu .menu-item.menu-item-19 a,
.home .main-menu .menu-item.menu-item-19 a,
.main-menu .menu-item.current-menu-item a,
.main-menu .menu-item:hover a {
  color: rgba(255, 65, 65, 0.92);
  opacity: 1;
  border-bottom: solid 1px rgba(255, 65, 65, 0.92);;
  transition: all 0.5s;
}

.logo h1 {
  letter-spacing: 2px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(255, 65, 65, 0.92);
    z-index: 200;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.rel-image {
  max-width: 100%;
}

.feature-image {
  max-width: 33%;
  height: 33%;
}

.feature-image:hover .overlay,
.rel-image:hover .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
}

.line {
  width: 5px;
  height: 1px;
  background-color: #ffffff;
}

li {
  list-style: none;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

header {
  z-index: 500;
  background-color: rgba(255,255,255,.9);
}

.main-navigation {
  list-style: none;
  padding: 1rem;
}

.menu-item {
  margin-left: 2rem;
}

.site-footer {
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.site-footer li {
  margin-left: 1rem;
  margin-right: 1rem;
}

.site-footer a {
  display: inline;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  margin: 0 0 0 1rem;
  padding: 0;
}

.insta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

.insta-pic img,
.gallery-image img {
  width: auto !important;
  height: auto !important;
  display: block;
}

.insta-pic {
  position: relative;
  overflow: hidden;
}

.insta-pic a:hover {
  border-bottom: none;
}

.insta-pic:hover .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
 	opacity: 1;
  cursor: pointer;
  }

.overlay .caption {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
 	left: 0%;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.likes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.heart {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: .5rem;
}

.profile img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.about a  {
  font-size: 1.5rem;
  font-weight: 300;
}

.contact a {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
}

.contact h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.rel a {
  border-bottom: none;
}

img.emoji {
    width: 1rem! important;
  }

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
}

.measure-wide-subhead {
  max-width: 32rem;
}

.wide {
  max-width: 60rem;
  margin-right:auto;
  margin-left:auto;
}

.hero {
  height: 100vh;
}

.blog p {
  margin-bottom: 1rem;
}


@media (max-width: 1100px) {

  .insta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about .full-width {
    width: 100%;
  }

}

@media (max-width: 680px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .menu-item {
    margin: 0 2rem 0 0;
  }

  .main-navigation {
    margin: 0rem 1rem;
    padding: 0.5rem;
  }

  .feature-image {
    max-width: 100%;
    height: 100%;
  }

  .contact a {
    font-size: 1.5rem;
  }

  .site-content {
      margin: 10rem 0.5rem 0.5rem 0.5rem;
  }

}

@media (max-width: 480px) {

  .main-menu {
    margin: 0;
  }

  .rel-image {
    max-width: 100%;
    height: 100%;
  }

  .insta-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .site-content {
      margin: 7rem 0.5rem 0.5rem 0.5rem;
  }

  .logo h1 {
    font-size: 2rem;
    letter-spacing: 0px;
  }

}
