h1 {
  font-family: 'Staatliches', sans-serif;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: #000000;
  margin: 0;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

h5 {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  color: #000000;
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
